.advantages {
  width: 100%;
  background-color: $color-white;
}

.advantages__wrapper {
  width: 940px;
  margin: 0 auto;
  padding: 50px 20px;
}

.advantages__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
}

.advantages__first-header {
  position: relative;
  width: 250px;
  margin: 0 auto;
  padding-bottom: 70px;
  font-size: 32px;
  line-height: 46px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-grey-dark;
  font-weight: normal;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    left: -33px;
    width: 300px;
    height: 1px;
    content: "";
    background-color: $color-blue;
  }

  &::after {
    position: absolute;
    top: 50px;
    right: -17px;
    width: 300px;
    height: 1px;
    content: "";
    background-color: $color-blue;
  }
}

.advantages__element {
  width: 250px;
  background-repeat: no-repeat;
  background-size: 137px 83px;
  background-position: 0 78px;
}

.advantages__second-header {
  width: 150px;
  margin: 0;
  padding-bottom: 110px;
  font-size: 24px;
  line-height: 32px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-decoration: none;
  color: $color-grey-dark;
  text-align: left;
}

.advantages__description {
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans Regular", "Arial", sans-serif;
  color: $color-grey-dark;
}

.advantages__element--storage {
  background-image: url("../img/icon-storage.png");
}

.advantages__element--sap {
  margin-bottom: 30px;
  background-image: url("../img/icon-sap.png");
}

.advantages__element--paas {
  background-image: url("../img/icon-paas.png");
}

.advantages__element--vdi {
  background-image: url("../img/icon-vdi.png");
}

.advantages__element--recovery {
  background-image: url("../img/icon-backup.png");
}

.advantages__element--migration {
  background-image: url("../img/icon-migrate.png");
}
