.advantages {
  width: 100%;
  background-color: $color-white;
}

.advantages__wrapper {
  width: 1180px;
  margin: 0 auto;
  padding: 30px 10px;
}

.advantages__header {
  width: 200px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 46px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-grey-dark;
  font-weight: normal;
}
