.main-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.main-nav__element {
  box-sizing: border-box;
  padding: 54px 37px;
  background-color: $color-white;
  transition-property: background-color, border, color;
  transition-duration: 0.8s;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  text-transform: uppercase;
  text-decoration: none;
  color: $color-grey-dark;

  &:hover {
    background-color: $color-blue;
    color: $color-white;
  }
}
