.slider-products {
  width: 100%;
  background-color: $color-grey-light;
}

.slider-products__wrapper {
  position: relative;
  width: 940px;
  margin: 0 auto;
  padding: 50px 0;
}

.slider-products__header {
  position: relative;
  width: 250px;
  padding-bottom: 70px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 46px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-grey-dark;
  font-weight: normal;
  text-align: center;

  &::before {
    position: absolute;
    top: 0;
    left: -33px;
    width: 300px;
    height: 1px;
    content: "";
    background-color: $color-blue;
  }

  &::after {
    position: absolute;
    top: 50px;
    right: -17px;
    width: 300px;
    height: 1px;
    content: "";
    background-color: $color-blue;
  }
}

.slider-products__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0;
}

.slider-products__container--first {
  overflow: hidden;
}

.slider-products__container--second {
  padding-bottom: 10px;
  transition-property: margin-left;
  transition-duration: 0.5s;
}

.slider-products__element {
  position: relative;
  width: 220px;
  margin-right: 20px;
  transition-property: box-shadow, background-color;
  transition-duration: 0.5s;

  &:hover {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    &::after {
      position: absolute;
      top: 0;
      width: 220px;
      height: 160px;
      content: "";
    }
  }

  &:hover .slider-products__card {
    background-color: $color-white;
  }

  &:hover .slider-products__text {
    color: $color-grey-dark;
  }
}

.slider-products__card {
  width: 220px;
  height: 120px;
  box-sizing: border-box;
  padding: 20px;
  background-color: $color-blue;
}

.slider-products__text {
  margin: 0;
  font-size: 16px;
  line-height: 28px;
  font-family: "Open Sans Bold", "Arial", sans-serif;
  color: $color-white;
  transition-property: color;
  transition-duration: 0.8s;
}

.slider-products__button {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 0;
  outline: none;
  background-color: transparent;
  z-index: 5;
  font-size: 0;
  cursor: pointer;
  background-repeat: no-repeat;
}

.slider-products__button--left {
  left: 44%;
  top: 91%;
  background-image: url("../img/icons/left.png");
}

.slider-products__button--right {
  right: 44%;
  top: 91%;
  background-image: url("../img/icons/right.png");
}
