$color-grey-dark: rgb(64, 64, 64);
$color-grey-light: rgb(248, 248, 248);
$color-blue: rgb(0, 168, 255);
$color-blue-light: rgb(194, 225, 255);
$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
